.index-list__content {
  grid-column: span 2;
  max-height: 0;
  overflow: hidden;
  cursor: auto;
  transition: max-height 170ms ease-in-out;
}

.index-list__item_visible .index-list__content {
  max-height: 1000px;
  transition: max-height 170ms 30ms ease-in-out;
}
