.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 8px;
}

.breadcrumbs__list .breadcrumbs__item+.breadcrumbs__item::before {
  content: "\00a0\276F\00a0";
  padding-left: 4px;
}
