.card__button {
  width: 104px;
  height: 28px;
  background-color: #fff;
  border: none;
  padding: 2px 0;
  text-align: right;
  font-family: "Golos";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  color: #212329;
}

.card__button:hover {
  opacity: .8;

}
