.checkbox__box {
  flex-shrink: 0;
  transform: translateY(2px);
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/checkbox.svg);
  background-position: center;
}

.checkbox__input:checked+.checkbox__box {
  background-image: url(../../../images/checkbox-active.svg);
}
